#map {
        height: 60%;
        width:60%;
        float: left;
        margin-top:10px;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

.title{
  text-align:center;
  font-size:40px;
  font-weight: bold;
  background-color: #b30000;
  height:65px;
  border-bottom-style: solid;
  color:white;
  border-bottom-color:black;
  border-bottom-width: 8px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.container-right{

  width:38%;
  float: right;
  margin-top:10px;
}

.container-full{
  width:100%;
  margin-bottom:10px;
}

#buscar-cidade{
  width:80%;
  height: 20px;
}
#submit-cidade{
  width:14%;
  margin-right:5px;
  height: 25px;
}